html, body {
    margin: 1px;
}
header{
    background-color: rgb(78, 170, 245);
    color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#logo{
    width: 99px;
    position: absolute;
    top: 10px;
    margin-left: 3%;
}
#menu{
    float: right;
    margin-right: 3%;
    list-style: none;
    margin-top: 0px;
}
li{
    float: left;
    padding: 10 5 10 5;
}
li:hover{
    background-color: rgb(107, 219, 247);
}
#imagen-fundo{
    background:  url("img/energiasolar.jpg");
    height: 95%;
    text-align: center;
}
#titulo{
    color: black;
    padding-top: 20%;
    font-size: 50px;
    line-height: 0.6;
}
#subtitulo{
    color: black;
    padding-left: 20%;
    padding-right: 20%;
    text-shadow:  1px 1px black;
}
#acao{
    font: 22%;
    color: black;
    border: 1px red solid;
    padding: 10px 20px 10px 20px ;
}
.icone{
    width: 55px;
}
section{
    padding: 22px;
    float: left;
}
.destaque{
    background-color: rgb(184, 234, 253);

}
.imgemalt{
    width: 90%;
    height: 30%;
}
.coluna{
    top: 22px;
    float: left;
    padding: 0  5%;
    position: relative;
    
}
.dois{
    width: 40%;
}
.quatro{
    width: 15%;
}
.tres{
    width: 29%;
    padding: 0 2%;
}
.justificado{
    text-align: justify;
}
.centralizado{
    text-align: center;
}
#sobre{
    width: 100%;
}
footer{
    background-color: rgb(78, 170, 245);
    float: center;
}