@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')
html, body {
    margin: 1px;
}
header{
    background-color: rgb(78, 170, 245);
    color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    top: 0px;
}
#logo{
    position: absolute;
    margin: 3%;
    display: block;
}
#menu{
    float: right;
    margin-right: 3%;
    list-style: none;
    top: 0px;
    
}
li{
    float: left;
    padding: 10 5 10 5;
}
li:hover{
    background-color: rgb(107, 219, 247);
}
#imagen-fundo{
    background:  url("img/energiasolar.jpg");
    height: 90%;
    text-align: center;
    box-sizing: border-box;
}
#titulo{
    color: black;
    padding-top: 22%;
    font-size: 49px;
    line-height: 0.6;
    font-family: 'Anton', sans-serif;
    line-height: 44px;
}
#subtitulo{
    color: black;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 20px;
    box-sizing: border-box;
}
#acao:hover{
    background-color: yellow;
    font: 22%;
    color: black;
    padding: 10px 20px 10px 20px ;
    
}
.icone{
    width: 55px;
}
section{
    padding: 22px;
    float: left;
    margin-top: 10px;
}
.destaque{
    background-color: rgb(184, 234, 253);

}
.imgemalt{
    width: 90%;
    height: 30%;
}
.coluna{
    top: 22px;
    float: left;
    padding: 0  5%;
    position: relative;
    
}
.dois{
    width: 40%;
}
.quatro{
    width: 15%;
}
.tres{
    width: 29%;
    padding: 0 2%;
}
.justificado{
    text-align: justify;
}
.centralizado{
    text-align: center;
}
#sobre{
    width: 97%;
    
}
footer{
    background-color: rgb(78, 170, 245);
    float: center;
}
@media all and (max-width:768px){
    #menu{
        visibility: hidden;
        top: 0px;
    }
    .coluna,.dois,.tres,.quatro{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
    #logo2{
        position: relative;
        text-align: center;
        box-sizing: border-box;
    }
    #logo{
        margin-left: 0px;
        transform: translateX(-60%);
    }
    header{
        height: 40px;
    }
}